# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Random files
prompt.txt
src/old_app.jsx

# Data files
src/data/venv
src/data/filesCSV
src/data/csv_toJson.py
src/data/buat courses.py
src/data/input_rps
src/data/new_courses.jsx
src/data/output_csv
src/data/csvFILES_toJson_.py
src/data/latihancoding.py

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env